*{
    margin: 0;
    padding: 0;
}

.divc{
    float: left;
    width: 50%;
    align-self: center;
    height: 100px;
    align-items: center;
    text-align: center;
    margin: auto;
}

.logo{
    height: auto;
    width: auto;    
}

.logo, .nome{
    display: inline-block;
    width: 33.33%;
}

.header {
    background-color: #2c6386;
    text-align: left;
    max-height: 120px;
}
.container {
    display: flex; 
    align-items: flex-start; 
    margin-bottom: 20px; 
}

/* Estilos para a imagem */
.container .imagemTitulo01 img,
.container .imagemTitulo02 img,
.container .imagemTitulo03 img {
    max-width: 400px; 
    margin-right: 20px; 
}


.container .imagemTitulo01 h2,
.container .imagemTitulo02 h2,
.container .imagemTitulo03 h2 {
    margin: 0; 
}


.container .imagemTitulo01 p,
.container .imagemTitulo02 p,
.container .imagemTitulo03 p {
    margin: 0; 
}




  