*{
    margin: 0;
    padding: 0;
}

.divc{
    float: left;
    width: 50%;
    align-self: center;
    height: 100px;
    align-items: center;
    text-align: center;
    margin: auto;
}

.logo{
    height: auto;
    width: auto;    
}

.logo, .nome{
    display: inline-block;
    width: 33.33%;
}

.header {
    background-color: #2c6386;
    text-align: left;
    max-height: 120px;
}

.navbar-expand-lg{
    background-color: #2c6386 ;
    max-height: 100px;
}

.nav-item .nav-link{
    color: #fff;
    font-weight: 650;
}

.headers, .navbar-expand-lg{
    display: inline-block;
}


