/** Página home **/
*{
    margin: 0;
    padding: 0;
}

.divc{
    float: left;
    width: 50%;
    align-self: center;
    height: 100px;
    align-items: center;
    text-align: center;
    margin: auto;
}

.logo{
    height: auto;
    width: auto;    
}

.logo, .nome{
    display: inline-block;
    width: 33.33%;
}

.header {
    background-color: #2c6386;
    text-align: left;
    max-height: 120px;
}

.navbar-expand-lg{
    background-color: #2c6386 ;
    max-height: 100px;
}

.nav-item .nav-link{
    color: #fff;
    font-weight: 650;
}

.headers, .navbar-expand-lg{
    display: inline-block;
}

/** Página de pesquisas  **/

.container .imagemTitulo01 img,
.container .imagemTitulo02 img,
.container .imagemTitulo03 img {
    max-width: 400px; 
    margin-right: 20px; 
}


.container .imagemTitulo01 h2,
.container .imagemTitulo02 h2,
.container .imagemTitulo03 h2 {
    margin: 0; 
}


.container .imagemTitulo01 p,
.container .imagemTitulo02 p,
.container .imagemTitulo03 p {
    margin: 0; 
}

/** pesquisadores **/

.conteudo {
    display: flex; 
    align-items: 200px; 
}

.docente{
    text-align: center;
    margin-top: 70px;
    color: #1a3652;
}
.pesquisador1{
    margin-top: 70px;
    margin-bottom: 40px;
    margin-left: 70px;
    display:flex;
    
}
.pesquisador2{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 70px;
    display:flex;
}
.pesquisador3{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 70px;
    display:flex;
}
.pesquisador4{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 70px;
    display:flex;
}
.img-usuario{
    border: 1px solid #000; 
    margin-right: 20px;
}


/** infraestrutura **/

.infra{
    display: inline-block;
    margin-left: 20px;
} 

.tamanho{
    width: 300px;
    height: 300px;
}


/** Noticias **/

